.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  box-shadow: -10px 10px 10px 10px rgb(87, 6, 180);
  transition: 0.3s;
  border-radius: 5px; 
  background-color: rgba(15, 60, 185, 0.678);
  display: flexbox;
  margin-left: 550px;
  margin-right: 550px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.boton{
  box-sizing: border-box;
  font-family: inherit;
  padding: 0.8rem 1rem;
  border-radius: 1rem;
  box-shadow: shadow(low);
  border: 1px solid rgb(158, 10, 226);
  background-color: rgb(198, 182, 204);
  color: var(--button-text-color);
  font-size: 1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 2px 16px;
  margin: 100px;
}

img {
  border-radius: 5px 5px 5px 5px;
  width: 40%;
}

