.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tarjeta{
  background-color: #61c2fb;
  display:flex;
  flex-direction:column;
  width:420px;
  border: 1px solid lightblue;
  box-shadow: 2px 2px 8px 4px lightblue;
  border-radius:15px;
  font-family: sans-serif;
}

.nombre{
  font-size: 20px;
  padding: 10px 10px 0 10px;;
  color: black;
}

.titulo{
  font-size: 24px;
  padding: 10px 10px 0 10px;;
  margin-left: -1200px;
}


